@import './utils/vars';
@import './utils/globals';

@import './components/header';
@import './components/logo';
@import './components/contacts';
@import './components/hero';
@import './components/advantages';
@import './components/offer';
@import './components/team';
@import './components/social-icons';
@import './components/clients';
@import './components/page-footer';
@import './components/footer-address';
@import './components/footer-join-us';
@import './components/footer-newsletter';
@import './components/portfolio';
@import './components/product';
@import './components/modal';
