.advantages {
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
@include tablet {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
  @include desktop {
    flex-wrap: nowrap;
  }
  &__box {
    background-color: $tertiaryColorPortfolio;
    border: $tertiaryColorPortfolio solid;
    border-radius: $borderRadiusDefault;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    max-width: 450px;
    @include tablet {
      max-width:354px;
      justify-content: center;
    }
    @include desktop {
      max-width: 270px;
    }
  }
  &__header {
    color: $secondaryColorDark;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 700;
    padding-top: 30px;
    max-width: 450px;
    @include tablet {
      max-width:354px;
    }
    @include desktop {
      max-width: 270px;
    }
  }
  &__text {
    padding: 10px 0 0;
    color: $secondaryColorSilver;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    max-width: 450px;
    @include tablet {
      max-width:354px;
    }
    @include desktop {
      max-width: 270px;
    }
  }
}