.advantages {
  gap: 30px;
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
  &__box {
    background-color: $tertiaryColorPortfolio;
    border: $tertiaryColorPortfolio solid;
    border-radius: $borderRadiusDefault;
    padding: 25px 0;
    display: flex;
    justify-content: center;
  }
  &__header {
    color: $secondaryColorDark;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 700;
    padding-top: 30px;
  }
  &__text {
    padding: 10px 0 0;
    color: $secondaryColorSilver;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
  }
}
