.hero {
  background-color: $secondaryColorLight;
  color: $tertiaryColorWhite;
  background-image: url('../images/photo-hero.jpg'),
    linear-gradient(to bottom, $secondaryColorLight 40%, $secondaryColorLight);
  background-position: center;
  background-size: 1600px;
  background-repeat: no-repeat;
  &__header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 106px 237px 30px;
  }
  &__button {
    background-color: $primaryColor;
    color: $tertiaryColorWhite;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: $borderRadiusDefault;
    line-height: 1.86;
    padding: 10px 42px;
    margin-left: 500px;
    margin-bottom: 106px;
    padding: 10px 42px;
  }
}
