.logo {
  font-family: $secondaryFont;
  color: $primaryColor;
  text-decoration: none;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  &--header {
    color: $secondaryColorBlack;
  }
  &--footer {
    color: $tertiaryColorWhite;
  }
}
