.logo {
  font-weight: 700;
  font-family: $secondaryFont;
  color: $primaryColor;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-size: 24px;
  @include desktop {
    font-size: 26px;
  }
  &__studio {
  &--black {
    color: $secondaryColorBlack;
  }
  &--white {
    color: $tertiaryColorWhite;
  }
}
}
