* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
}

body {
  font-family: $primaryFont;
  color: $secondaryColorDark;
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
